:root {
    --cor-primaria: #202020;
    --cor-segundaria: #FAFAFA;  
}

main {
    padding-inline: 20%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.text {
    margin-block: 30px;
}

.switch-base {
    place-self: center;
    margin-top: 45px;
}

.switch-base button {
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
}

.criarTabela {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.criarTabela button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}
.tabelas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.tabela {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: grid;
    gap: 0px;
    border: #555555 solid 2px;
}

.tabela p {
    margin: 0px;
}

.tabelaNova {
    position: absolute;
    place-self: center;
    justify-self: center;
}