:root {
    --cor-primaria: #202020;
    --cor-segundaria: #FAFAFA;  
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    color: var(--cor-segundaria);
    font-family: arial;
    overflow-x: hidden;
}
header {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: arial;
    background-color: rgb(27, 20, 148);
}

nav {
    width: 280px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: blue;
}

nav-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    bottom: 3%;
}

cre-dits {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}